@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body {
    opacity: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: #5E3B29;
    font-family: "Roboto Serif", serif;
    font-weight: 500;
    background-color: #87C8F4;
    background-image: url("../images/paperbackground.png");
    background-size: cover;
    background-position: center center;
    object-fit: contain;
    user-select: none;
    transition: opacity 1.5s;
}

.app {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
    max-height: max-content;
    min-height: max-content;
}

.counter {
    font-size: 4.5vw;
    font-weight: 300;
    text-align: left; 
    padding-left: 1vw;
    padding-bottom: 0.2vw;
    border-bottom: 0.2vw solid #5E3B29;
    background: white;
    box-shadow: 0 0 1vw gray;
}

.choices {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0 18.9vw;
    padding-bottom: 0.5vw;
    width: 62.5%;
    bottom: 0;
    border-top: 0.2vw solid #5E3B29;
    box-shadow: 0 0 1vw gray;
    background: white;
}

#item {
    position: absolute;
    max-width: 17vh;
    max-height: 17vh;
    top: 24dvh;
    left: 43.5vw;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.billones {
    position: absolute;
    height: calc(4vh*13.5);
    width: calc(3vh*13.5);
    margin: auto;
    top: 46vh;
    left: 50vw;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#itemname {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 1.5vw;
    font-size: 2.5vw;
    font-weight: 400;
}

.bin {
    cursor: pointer;
    max-height: 12vw;
    opacity: 1;
}

#black-bin {
    opacity: 1;
}